# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

*.vs
.vs/*
x64/*
epope-de-Godfrey-Demetrius/x64/*
epope-de-Godfrey-Demetrius/x64/Debug/*

2DEngine.sln
2DEngine.vcxproj
2DEngine.vcxproj.filters
2DEngine.vcxproj.user
ALL_BUILD.vcxproj
ALL_BUILD.vcxproj.filters
ALL_BUILD.vcxproj.user
cmake_install.cmake
CMakeCache.txt
ZERO_CHECK.vcxproj
ZERO_CHECK.vcxproj.filters
ZERO_CHECK.vcxproj.user

2DEngine.dir/*
Debug/
out/*
CMakeFiles/*
Release/*




